# H1: Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Python
- Java
- SQL
- Julia
- Scala

1. Python 
2.  SQL 
3. Julia 
4. R

1. Pandas
2. NumbPy
3. SciPy


| Data Science Tools | 
| -------------|
| Visual Studio Code |
| Jupyter Notebook |
| R Studio |

# H3:Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335


## Author
Emre Sak